.App {
  font-family: sans-serif;
  text-align: center;
  
}
.QuizQuestion-container {
  background-color: gray;
  padding: 10px;
  width: 600px;
display: flex;
margin:auto;
flex-direction: column;

}
.QuizOption-container {
  background-color: gray;
  margin: 3px 10px;
  padding: 1px 1px;
  text-align: left;
  padding-left: 20px;
  border: 2px solid black;
  
}
.light{
border: 2px solid green;

}
.dark{
 border: 2px solid red;
}
body{
  background-color: blanchedalmond;
}
